/*Dropdown Button*/
.dropbtn {
    background-color: Transparent;
    color: white;
    /*padding: 10px 15px;*/
    font-size: 40px;
    cursor: pointer;
    -moz-box-shadow: 0px 0px 0px 0px #3dc21b;
    -webkit-box-shadow: 0px 0px 0px 0px #3dc21b;
    box-shadow: 0px 0px 0px 0px #3dc21b;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    height: 50px;
    width:200px;
    border: 2px solid black;
    padding: 7px 10px;
    line-height: 10px;
    align-self: center;

}

}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 5px 6px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e54a37;
}

/*Overhead timer*/

p.round1 {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 40px;
    padding: 7px 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #000;
}

